@tailwind base;
@tailwind components;
@tailwind utilities;


/* Custom CSS below My Code */
:root {
    --main-color: #039e8c;
    --dark-gray: #424242;
    --white:var(#ffffff);

    --bs-primary: #039e8c;
  --bs-secondary: #000000;
  --bs-success: #28a745;
  --bs-danger: #dc3545;
  --bs-warning: #ffc107;
  --bs-info: #17a2b8;
  --bs-light: #f8f9fa;
  --bs-dark: #000000;
}

.main-color-back {
    background-color: var(--main-color);


}

.dark-gray-back {

    background-color: var(--dark-gray);

}

.white-back {

    background-color: var(--bs-secondary);

}

.search-bar-above {

    z-index: 10;
}

.text-color{
    color: var(--white);
}
